# Images and output files #
###############
*.tif
*.tiff
*.png
*.out
*.jpg
# TensorFlow  save files #
###############
*.meta
*.index
*.data*
*.h5
*.json
# Keras saved files #
###################
*.h5
*.json
*.npy
